.modalContainer {
  width: 1100px;
  max-width: 90vw;
  display: flex;
  font-family: $secondary-font;
  max-height: 45vw;
  overflow: hidden;
  font-size: 0.95em;

  .projectImage {
    background-color: $gray-dark;
    width: 60%;
  }
  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }
  .slick {
    height: 100%;
  }
  .controlIcon {
    vertical-align: top;
    margin-right: 0.25em;
  }

  .projectInfo {
    width: 40%;
    padding: 1.5em;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      text-transform: uppercase;
      margin-bottom: 0.25em;
      font-family: $primary-font;
    }

    &__tech {
      color: #ddd;
      margin-bottom: 1em;
    }

    &__techItem {
      display: inline-block;
      margin: 0.25em;
      padding: 0.25em 0.5em;
      border: 1px solid $black;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
    }

    &__body {
      flex: 1;
      margin-bottom: 1em;
      max-height: 45vw;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: $gray-dark;
      }

      &::-webkit-scrollbar {
        border-radius: 10px;
        width: 8px;
        background-color: $gray-dark;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
      }
    }
    &__footer {
      padding: 0.5em 0;
      .projectLink {
        margin-right: 0.5em;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 920px) {
    flex-direction: column;
    width: 600px;
    max-width: 90vw;
    max-height: unset;
    overflow: unset;
    .projectImage,
    .projectInfo {
      width: unset;
    }

    .projectInfo {
      overflow: auto;
      font-size: 0.9rem;
    }
    &__footer {
      .projectLink {
        padding: 1em;
      }
    }
  }
}
