.modalContainer {
  width: 1200px;
  max-width: 90vw;
  display: flex;
  font-family: $secondary-font;

  .projectImage {
    background-color: $gray-dark;
    width: 60%;
  }
  .slick {
    height: 100%;
  }
  .controlIcon {
    vertical-align: top;
    margin-right: 0.25em;
  }

  .projectInfo {
    width: 40%;
    padding: 1em;
    color: #eee;
    display: flex;
    flex-direction: column;
    // letter-spacing: -0.5px;
    justify-content: space-between;

    &__title {
      text-transform: uppercase;
      margin-bottom: 0.25em;
      font-family: $primary-font;
    }

    &__tech {
      color: #ddd;
      margin-bottom: 1em;
    }

    &__techItem {
      display: inline-block;
      margin: 0.25em;
      padding: 0.25em 0.5em;
      border: 1px solid $black;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
    }

    &__body {
      flex: 1;
      margin-bottom: 1em;
      .projectInfo__description {
        max-height: 250px;
        overflow-y: auto;
      }
    }
    &__footer {
      padding: 0.5em 0;
      .projectLink {
        margin-right: 0.5em;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 750px) {
    flex-direction: column;
    max-width: 90vw;
    // max-height: 80vh;
    overflow: auto;
    .projectImage,
    .projectInfo {
      width: unset;
    }
    .imageContainer {
      max-height: 40vh;
    }
    .projectInfo {
      overflow: auto;
      font-size: 0.9rem;
    }
    &__footer {
      .projectLink {
        padding: 1em;
      }
    }
  }
}
