.projectPreview {
  background-color: #1d1f25;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);

  transform: translateY(100%);
  animation: center 0.4s ease-in-out 0.55s forwards;
  @media (max-width: 850px) {
    animation: none;
  }
  flex: 1 1 60%;
}

.previewButtons {
  position: absolute;
  bottom: 25%;
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  background-color: rgba($color: #efebd8, $alpha: 0.5);
}

.previewButton {
  font-size: 2rem;
  margin: 0 1rem;
  &,
  &:active,
  &:focus,
  &:hover {
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

@keyframes center {
  100% {
    transform: translateY(0);
  }
}
