.row {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  .flexItem {
    flex: 0 0 50%;
    padding: 0 1.5rem;
  }

  .aboutText {
    letter-spacing: -0.5px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
  }
  @media (max-width: 1000px) {
    .flexItem {
      padding: 0 1rem;
    }
  }
  @media (max-width: 700px) {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 5rem;
    height: unset;
    .aboutImage {
      margin-bottom: 2rem;
    }
    .flexItem {
      flex: 0;
      width: 100%;
      transform: translateY(0);
      padding: 0;
    }
  }
}
