.projectsWrapper {
  margin: 3.5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 850px) {
    margin: 1rem auto;
    margin-bottom: 3.5rem;
  }
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
